/* Write your CSS here */
.event-item-list {
  width: 46%;
  color: white;
  margin-bottom: 10px;
}

.event-item-image {
  width: 100%;
}

.event-item-name {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.event-item-location {
  font-size: 15px;
  margin-top: 5px;
}

.event-item-btn {
  border-width: 0px;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 767px) {
  .event-item-name {
    font-size: 13px;
  }

  .event-item-location {
    font-size: 10px;
  }
}
